body
    display: flex
    justify-content: center
    background-color: #F6F6F6

.table
    background-color: #FAFAFA
    width: 1245px
    border-collapse: collapse
    border: 1px solid #D5D5D5

    &__row
        display: flex
        flex-wrap: nowrap

        &_header-1
            height: 58px

    &__header
        display: flex
        border-right: 1px solid #D5D5D5
        border-bottom: 1px solid #D5D5D5
        color: #930f75
        font-family: sans-serif
        font-size: 14px
        align-items: center
        

        &_column-1
            width: 260px
            padding-left: 5px

        &_column-2
            width: 538px
            padding-left: 9px

        &_column-3
            width: 245px

        &_column-4
            width: 177px
            border-right: none
